


<div id="id1" ></div>




<div class="topnav" id="myTopnav" >

  <a class="active" routerLink = "/app-body">ראשי</a>
  <a routerLink="app-restaurant">מסעדות</a>
  <a  routerLink = "app-sites">אתרים</a>
  <a routerLink="app-hotels">מלונות</a>
  <a routerLink = "app-attractions">אטרקציות</a>

  
  
   <a routerLink="app-google-maps">מפה</a>
   


  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


  
<router-outlet></router-outlet>

