


<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27131.187798195904!2d35.21887790237664!3d31.78688842568011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1siw!2sil!4v1525899592814" ></iframe>

 -->


<div class="container">
      <h2>חפש רחוב או אתר...</h2>
      <div class="form-group">
        <input placeholder="הקלד יעד" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>



