 body{
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
p{
  /* margin: 30px 10px 20px 650px; */
    font-size: 18px;
} 
h3{
   margin-right: 12px;
   text-decoration: underline;
}
img{
   width: 300px;
    height: 200px;
     margin-right: 20px;
}
a {
  margin-right: 15px;
   font-size: 16px;
}