<div class="container-fluid" >
  <div class="row"> 
    <div class="col-sm-4">
      <br>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Billy_Rose_Art_Garden_%2814755133799%29.jpg"/>

  </div>
     <div class="col-sm-8">
  <h3>מוזיאון ישראל</h3>
<p>מוזיאון ישראל הוא המוזיאון הגדול והחשוב בישראל. המוזיאון שוכן בגבעת רם בירושלים והוא אחד המוזיאונים הגדולים ביותר בעולם. המוזיאון מכיל מעל ל-500,000 חפצי אמנות, המייצגים את שלל תרבויות העולם, מראשיתו, עד להווה; מצויים בו אוספים בתחומי הארכאולוגיה, האתנוגרפיה, היודאיקה, האמנות הישראלית ואמנות העולם ותערוכות מתחלפות.

אבי המוזיאון ומייסדו הוא טדי קולק, אז מנכ"ל משרד ראש הממשלה ולימים ראש עיריית ירושלים, שגם הביא למוזיאון תרומות של אוספים חשובים מהעולם. אדריכלי המוזיאון הם אל מנספלד ודורה גד. המוזיאון נפתח בחודש מאי 1965. המוזיאון פועל תחת חברה מעורבת בבעלות בחלקים שווים של ממשלת ישראל, עיריית ירושלים, הסוכנות היהודית, אקדמיה בצלאל, האוניברסיטה העברית, בית הנכות בצלאל וקרן היכל הספר</p>
<a href="http://www.imj.org.il/">לאתר המלא</a>
</div>

  </div>

  <div class="row"> 
<div class="col-sm-4">
      <br>
<img src="https://img.mako.co.il/2013/04/30/mishmish_yoramamir_i.jpg"/>

  </div>
 <div class="col-sm-8">
  <h3>שוק מחנה יהודה</h3>
<p>
שוק מחנה יהודה הוא שוק מזון וביגוד, הנמצא בין הרחובות יפו ואגריפס לצד שכונת מחנה יהודה בירושלים, ומשמש כשוק מזון מרכזי בבירה. בשוק דוכנים וחנויות רבות, הכוללים דוכני ירקות ופירות טריים, אטליזים, מאפיות ומעדניות. יש בשוק גם חנויות לדברי מכולת, תבלינים, מזון אורגני, ממתקים, פרחים, כלי בית, כלי מטבח, כלי עבודה וביגוד, וגם דוכני פלאפל ומסעדות עממיות.

השוק, שנודע בצבעוניותו הרבה, זוכה לעדנה רבה בימי בחירות לכנסת, כשנוהגים לבקר בו פוליטיקאים רבים. הוא מוכר גם כמעוז האוהדים של קבוצת הכדורגל בית"ר ירושלים.

בעשור השני של המאה ה-21 הפך השוק לאחד מאזורי הבילוי המרכזיים בירושלים וליעד תיירותי חשוב, ולצד הדוכנים הוותיקים הוקמו בו מסעדות ומקומות בילוי.</p>
<a href="http://www.machne.co.il">לאתר המלא</a>
</div>



</div>
  </div>











